.button
input[type="submit"]
  display inline-block
  box-sizing border-box
  text-align center
  padding 10px 24px
  min-width 160px
  border 0
  border-radius 10px
  background-color green
  text-decoration none
  cursor pointer
  color darkTeal
  subline(20px)
  +above('tablet')
    font-size 22px

  &:hover
    background-color green-hover

.participate__mailchimp
  label
    display block
  input[type="email"]
    subline(20px)
    color darkTeal
    padding 8px 16px
