.header
  content-container(gutterLarge)
  padding 8px gutterSmall
  display flex
  justify-content space-between
  align-items center

  &__title > *
    color darkTeal
    font-family titleFont
    font-size 32px
    font-weight 500
    text-decoration none

  &__menu
    display none
    +above('tablet')
      display block

.menu
  display flex
  font-size 20px
  font-family bodyFont
  font-weight 500

  &__item
    padding-left 20px

  &__item-link
    display inline-block
    position relative
    color darkBlue
    text-decoration none
    padding 10px 0

    &:after
      content ''
      position absolute
      width 0
      height 4px
      display block
      margin-top 5px
      right 0
      background rgba(teal, 0.6)
      transition width .2s ease
      -webkit-transition width .2s ease

    &:hover:after
    &:focus:after
      width 100%
      left 0
      background rgba(teal, 0.6)
