.hero
  position relative
  color white
  padding 40px gutterLarge
  height 65vh
  min-height 320px
  background-color darkBlue
  overflow hidden
  +above('tablet')
    min-height 400px

  &__image
    position absolute
    width 100%
    height 100%
    overflow visible

    background-size 150% // TODO fix px
    background-position -20% 45%
    +above('tablet')
      background-size 700px
      background-position 10% 0
    +above('desktop')
      background-size 800px
      background-position center 10%

  &__content
    content-container(0)
    display flex
    align-items center
    justify-content flex-start
    height 100%
    +above('tablet')
      justify-content flex-end

  &__slogan
    display inline-block
    font-family titleFont
    font-size calc(40px + (74 - 40) * ((100vw - 320px) / (1440 - 320)))
    font-weight 800
    padding 250px 0 0 0
    width 100%
    +above('tablet')
      padding 0 60px
      padding 0 60px 100px 60px
      width 50%
