@require "reset"
global-reset()

@require "rupture"
rupture.scale = 0 640px 1024px
rupture.scale-names = 'mobile' 'tablet' 'desktop'
gutter = 16px

// base variables
lightBlue = #CBF0FD
darkBlue = #0079A1
teal = #2B9F99
darkTeal = #07373B

bodyFont = bilo, sans-serif
titleFont = atten-round-new, sans-serif

// base styles
body
  font-family bodyFont
  font-weight 400
  line-height 1.3
  overflow-y scroll
  -webkit-font-smoothing antialiased
  --cta-color orange

p
  font-weight 300

// mixins
content-container(padding = gutter)
  max-width 1200px
  margin 0 auto
  padding 0 padding

headline(fontSize)
  font-family titleFont
  font-size fontSize
  font-weight 800

subline(fontSize)
  font-family titleFont
  font-size fontSize
  font-weight 500

// Module imports
@require "layout"
@require "header"
@require "hero"
@require "panels"
