.teaser
  background-color darkBlue
  color white
  padding 20px 10px
  height 30vh
  display flex
  justify-content center
  align-items center
  flex-direction column

  &__text
    display block
    font-size 16px
    +above('tablet')
      font-size 18px

  &__text--emphasized
    font-weight 500
    padding 10px 0
    font-size 18px
    +above('tablet')
      font-size 28px
