doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Climate Mind')
    meta(name='description', content='Making conversations about Climate Change easier.')
    meta(name='keywords', content='climatemind, climate change, climate, mind')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Climate Mind
    link(rel='stylesheet', href='styles.css')
    link(href='https://use.typekit.net/eic0glm.css' rel='stylesheet')
    link(rel='apple-touch-icon' sizes='180x180' href='/images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon/favicon-16x16.png')
    link(rel='mask-icon' href='/images/favicon/safari-pinned-tab.svg' color='#006080')
    link(rel='manifest' href='/site.webmanifest')
    meta(name='msapplication-TileColor' content='#006080')
    meta(name='theme-color' content='#006080')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-165706180-1')
    script
      include javascript/3rd-party/ga.js
    script
      include javascript/3rd-party/gtm.js

  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PK3JHMG"
      height="0" width="0" style="display:none;visibility:hidden")
      
    header.header
      h1.header__title 
        a(href="#") Climate Mind
      .header__menu
        ul.menu
          li.menu__item
            a(href="#about").menu__item-link About
          li.menu__item
            a(href="#team").menu__item-link Team
          li.menu__item
            a(href="#get-involved").menu__item-link Get Involved
          
    .hero
      .hero__content
        .hero__slogan Powering climate conversations.
        img.hero__image(src="images/logos/climateMind-world.svg")
      
    .teaser
      .teaser__wrapper
        h2.teaser__headline Why do we need Climate Mind?
        .teaser__content
          .teaser__text It can be a real challenge to communicate the realities of climate change to people around you, especially those who have different values and personal interests. 
          .teaser__text Often, people don’t realize actionable solutions already exist that don’t require an overhaul of their personality or beliefs.
        .teaser__subline Our aim is to make conversations about climate change easier.
        .teaser__next-up
          img.teaser__next-up-icon(src="images/icons/icon-arrow-down.svg")
      .teaser__decoration
        .teaser__wave-top
        .teaser__wave-bottom

    .about-us#about
      .about-us__wrapper

        .about-us__content
          h2.about-us__headline What is Climate&nbsp;Mind?
          .about-us__subline A tool to relate everyone and their lives to the effects of climate change.
          .about-us__text We are creating a web app that helps users explore how their values and personal interests are being affected by climate change.
          .about-us__text We aim to inspire users to take action with a range of attractive solutions consistent with their values that they can get excited about.
          .about-us__text We are in the early stages of development and are welcoming new people to the team.

        .about-us__teaser
          img.about-us__icon(src="images/what-is-climateMind.svg")
          .about-us__slogan We want to make constructive conversations about climate change easier.
            
    .insights
      .insights__wrapper
        h2.insights__headline How will it work?
        .insights__content
          .insights__subline Climate Mind consists of a web application and a knowledge base.
          .insights__text The finished product will guide users through the process of personalizing climate conversations with others and responding to common climate change myths. Then it will provide achievable action proposals that align with the values and interests of the user.
          .insights__text The knowledge base will collect knowledge available on climate change and interpret it as sets of concepts and the relationships between them.
      .insights__wrapper
        img.insights__image(src="images/app-preview.jpg" alt="ClimateMind app")


    .team#team
      .team__wrapper
        h2.team__headline Who are we?
        .team__content
          .team__facts
            .card.card--facts
              .card__icon
                img(src="images/icons/icon-heart.svg")
              .card__description We are volunteers from around the world, worried about climate change and taking action.
            .card.card--facts
              .card__icon
                img(src="images/icons/icon-worldwide-connected.svg")
              .card__description Our team includes individuals drawn from <a href="https://www.stanford.edu/" target="_blank" class="card__link">Stanford University</a> and coordinated by Kameron Rodrigues.
              .card__description Climate Mind grew out of Kameron’s work with <a href="https://scientistsspeakup.org/" target="_blank" class="card__link">Scientists Speak Up</a>.
            .card.card--facts
              .card__icon
                img(src="images/icons/icon-world-location.svg")
              .card__description We live in the USA, UK, Austria and New Zealand. 
              .card__description We use agile development methods and communicate on GitHub and Slack to work on the project across timezones.
            .card.card--facts
              .card__icon
                img(src="images/icons/icon-data.svg")
              .card__description Our data team is building a knowledge base, also called an <a href="https://docs.google.com/document/d/16Ot_5WPNOLUIrLkmusbMVnN827OEJKigrT2B8HP--Jk/edit" class="card__link" target="_blank">ontology</a>.
              .card__description Are you a back-end developer and want to join our team?
              .card__description 
                a.card__link(href="#get-involved") Get involved
                
          h3.team__subline Meet the team
          
          .team__people
            ul.person-list
              li.card.card--person
                img.card__image(src="images/team/team_kameron.jpg" alt="Kameron Rodrigues")
                .card__details
                  .person
                    .person__name Kameron Rodrigues
                    .person__role Founder. California.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/kameronrodrigues" target="_blank") LinkedIn
                      a.card__link(href="https://twitter.com/k_b_rodrigues" target="_blank") Twitter

              li.card.card--person
                img.card__image(src="images/team/team_elle.jpg" alt="Elle Dashfield")
                .card__details
                  .person
                    .person__name Elle Dashfield
                    .person__role Tester &amp; all-rounder.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/eleanor-dashfield" target="_blank") LinkedIn

              li.card.card--person
                img.card__image(src="images/team/team_tom.jpg" alt="Tom Deadman")
                .card__details
                  .person
                    .person__name Tom Deadman
                    .person__role Developer. London.
                    .person__links

              li.card.card--person
                img.card__image(src="images/team/team_lukas.jpg" alt="Lukas Ziegler")
                .card__details
                  .person
                    .person__name Lukas Ziegler
                    .person__role Frontend &amp; UX. Austria.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/lukasziegler" target="_blank") LinkedIn
                      a.card__link(href="https://twitter.com/ZieglerLukas" target="_blank") Twitter

              li.card.card--person
                img.card__image(src="images/team/team_kay.jpg" alt="Kay Cochrane")
                .card__details
                  .person
                    .person__name Kay Cochrane
                    .person__role Designer. Scotland.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/kay-cochrane" target="_blank") LinkedIn
                      a.card__link(href="http://www.atravellingdesigner.com/" target="_blank") Website

              li.card.card--person
                img.card__image(src="images/team/team_andrew.jpg" alt="Andrew Banister")
                .card__details
                  .person
                    .person__name Andrew Banister
                    .person__role Analyst. California.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/andrewbanister" target="_blank") LinkedIn

              li.card.card--person
                img.card__image(src="images/team/team_anagha.jpg" alt="Anagha Uppal")
                .card__details
                  .person
                    .person__name Anagha Uppal
                    .person__role Spatial Data Analyst. California.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/anagha-uppal/" target="_blank") LinkedIn
                      
              li.card.card--person
                img.card__image(src="images/team/team_erik.jpg" alt="Erik Håkansson")
                .card__details
                  .person
                    .person__name Erik Håkansson
                    .person__role Data Scientist. London, UK.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/erik-h%C3%A5kansson-02ba42134/" target="_blank") LinkedIn
                      a.card__link(href="https://github.com/Expan75" target="_blank") GitHub

              li.card.card--person
                img.card__image(src="images/team/team_michael.jpg" alt="Michael Amoroso")
                .card__details
                  .person
                    .person__name Michael Amoroso
                    .person__role Ontology Analyst. New York.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/michaelamoroso05/" target="_blank") LinkedIn

              li.card.card--person
                img.card__image(src="images/team/team_thiyagarajan.jpg" alt="Thiyagarajan Angappan")
                .card__details
                  .person
                    .person__name Thiyagarajan Angappan
                    .person__role Frontend Engineer, Texas, USA.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/thiyagarajan-angappan/" target="_blank") LinkedIn
                      a.card__link(href="https://www.instagram.com/peopleplacesandraj/" target="_blank") Instagram

              li.card.card--person
                img.card__image(src="images/team/team_andras.jpg" alt="Andras Dako")
                .card__details
                  .person
                    .person__name Andras Dako
                    .person__role Software Craftsman, Frontend. UK.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/andras-dako-a10046aa/" target="_blank") LinkedIn

              li.card.card--person
                img.card__image(src="images/team/team_roland.jpg" alt="Roland Oldengarm")
                .card__details
                  .person
                    .person__name Roland Oldengarm
                    .person__role Full Stack Engineer. Wellington, New Zealand.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/rolandoldengarm/" target="_blank") LinkedIn

              li.card.card--person
                img.card__image(src="images/team/team_sean.jpg" alt="Sean Payne")
                .card__details
                  .person
                    .person__name Sean Payne
                    .person__role Backend Engineer. Tokyo, Japan.
                    .person__links
                      a.card__link(href="https://www.instagram.com/seanpayne_film/" target="_blank") Instagram
                      a.card__link(href="https://payne.photography/" target="_blank") Website

              li.card.card--person
                img.card__image(src="images/team/team_sabrina.jpg" alt="Sabrina Morellato")
                .card__details
                  .person
                    .person__name Sabrina Morellato
                    .person__role UX Researcher. London, UK.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/sabrinamorellato" target="_blank") LinkedIn
                      a.card__link(href="http://www.sabrinamorellato.com/" target="_blank") Website

              li.card.card--person
                img.card__image(src="images/team/team_matt.jpg" alt="Matt Charlton")
                .card__details
                  .person
                    .person__name Matt Charlton
                    .person__role Test Automation Engineer. Carlisle, UK.
                    .person__links
                      a.card__link(href="https://www.linkedin.com/in/matt-charlton/" target="_blank") LinkedIn
              
              li.card.card--person
                img.card__image(src="images/team/team_gergo.jpg" alt="Gergo Bakos")
                .card__details
                  .person
                    .person__name Gergo Bakos
                    .person__role Data Scientist. Milton Keynes, UK.
                    .person__links
                      a.card__link(href="https://linkedin.com/in/gergo-bakos/" target="_blank") LinkedIn
                      a.card__link(href="https://twitter.com/znurgl/" target="_blank") Twitter
              
              li.card.card--person
                img.card__image(src="images/team/team_mukut.jpg" alt="Mukut Mukherjee")
                .card__details
                  .person
                    .person__name Mukut Mukherjee
                    .person__role NLP Researcher. Princeton, New Jersey.
                    .person__links
                      a.card__link(href="https://linkedin.com/in/mukut-mukherjee-5a2049178/" target="_blank") LinkedIn
                      
    .participate#get-involved
      .participate__wrapper
        .participate__headline How can I&nbsp;get&nbsp;involved?
        .participate__subline 
          p Activist, dreamer, do-er? 
          p Excited, angry, frustrated? 
          p Developer, talker, tester?
        .participate__text.participate__text--align-bottom We are always looking for enthusiastic people to join our international team. No matter where you are in the world, if you can commit two hours a week we can do with your help.

      .participate__wrapper
        .participate__subline Current roles we are looking for:
        ul.participate__roles
          li Test automation engineer
          li Product manager
          li Information manager
          li Data scientist
          li User tester
          li Back-end developer (Python)
          li Front-end developer (React)

        .participate__text You got the skills we are looking for and are motivated to take action? Then get in touch with us and we will send you more details about how you can join our team.
        .participate__cta
          a.button(href="http://eepurl.com/g33DCr" target="_blank") Get involved
          
    footer.footer
      .footer__wave
      .footer__content
        .footer__logos
          .footer__climateMind
            img.footer__climateMind-logo(src="images/logos/climateMind-master-logo.svg" alt="Climate Mind")
          .footer__socialMedia
            a.footer__socialMedia-icon(href="https://twitter.com/Climate_Mind" target="_blank")
              img(src="images/icons/socialMedia/twitter.svg" alt="Twitter")
            a.footer__socialMedia-icon(href="https://www.instagram.com/climatemind" target="_blank")
              img(src="images/icons/socialMedia/instagram.svg" alt="Instagram")
            a.footer__socialMedia-icon(href="https://www.facebook.com/climatemindorg" target="_blank")
              img(src="images/icons/socialMedia/facebook.svg" alt="Facebook")
            a.footer__socialMedia-icon(href="https://www.linkedin.com/company/climate-mind" target="_blank")
              img(src="images/icons/socialMedia/linkedin.svg" alt="LinkedIn")
            a.footer__socialMedia-icon(href="https://www.youtube.com/channel/UCcU5SdPGMUj5FuwmKEjLu2Q" target="_blank")
              img(src="images/icons/socialMedia/youtube.svg" alt="YouTube")
        .footer__resources
          h3.footer__caption Useful links
          ul.footer__links
            li.footer__link-item
              a(href="https://scientistsspeakup.org/" target="_blank").footer__link Scientists Speak Up
            li.footer__link-item
              a(href="https://docs.google.com/document/d/16Ot_5WPNOLUIrLkmusbMVnN827OEJKigrT2B8HP--Jk/edit" target="_blank").footer__link Ontology
            li.footer__link-item
              a(href="https://drive.google.com/drive/folders/1LEvOzTCkPYS42OHfM_ogJAo9aBhjzQCr?usp=sharing" target="_blank").footer__link Resources
            //li.footer__link-item
              a(href="" target="_blank").footer__link Media Library
        .footer__contact
          h3.footer__caption Contact
          a(href="mailto:hello@climatemind.org" target="_blank").footer__link hello@climatemind.org
          .footer__credit 
            p Made globally for the world.
            p Open source project.

    script(type='text/javascript', src='app.js')
    script#mcjs
      include javascript/3rd-party/mailchimp.js
