doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='ClimateMind')
    meta(name='keywords', content='climatemind, climate change, climate, mind')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ClimateMind
    link(rel='stylesheet', href='styles.css')
    link(href='https://use.typekit.net/eic0glm.css' rel='stylesheet')
  body

    header.header
      h1.header__title Climate Mind
      .header__menu
        ul.menu
          li.menu__item
            a(href="#about").menu__item-link About
          li.menu__item
            a(href="#team").menu__item-link Team
          li.menu__item
            a(href="#get-involved").menu__item-link Get Involved
          li.menu__item
            a(href="#contact").menu__item-link Contact
          
    .hero
      .hero__image
      .hero__slogan Connect to climate change.
      
    .teaser
      .teaser__text.teaser__text--emphasized Welcome!
      .teaser__text We are still at the very beginning. Come back soon to find out more about our endeavours.



    script(type='text/javascript', src='app.js')
