doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='ClimateMind')
    meta(name='description', content='Connect to Climate Change.')
    meta(name='keywords', content='climatemind, climate change, climate, mind')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ClimateMind
    link(rel='stylesheet', href='styles.css')
    link(href='https://use.typekit.net/eic0glm.css' rel='stylesheet')
    link(rel='apple-touch-icon' sizes='180x180' href='/images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon/favicon-16x16.png')
    link(rel='mask-icon' href='/images/favicon/safari-pinned-tab.svg' color='#006080')
    link(rel='manifest' href='/site.webmanifest')
    meta(name='msapplication-TileColor' content='#006080')
    meta(name='theme-color' content='#006080')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-165706180-1')
    script
      include javascript/ga.js
    script
      include javascript/gtm.js

  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PK3JHMG"
      height="0" width="0" style="display:none;visibility:hidden")
  
    header.header
      h1.header__title 
        a(href="#") Climate Mind
      .header__menu
        ul.menu
          li.menu__item
            a(href="#about").menu__item-link About
          li.menu__item
            a(href="#team").menu__item-link Team
          li.menu__item
            a(href="#get-involved").menu__item-link Get Involved
          
    .hero
      .hero__content
        .hero__slogan Connect to climate&nbsp;change.
        img.hero__image(src="images/logos/climateMind-world.svg")
      
    .teaser
      .teaser__wrapper
        h2.teaser__headline Why do we need Climate Mind?
        .teaser__content
          .teaser__subline Thinking and talking about climate change is difficult.
          .teaser__text Too often we think climate change effects are distant or won’t personally affect us. Scientific reports use complex science which, for the majority of people, can be exhausting to digest.
          .teaser__text It can be a real challenge to learn how to communicate climate science to others, especially when others have different worldviews and beliefs. 
          .teaser__text Often, people don’t realize solutions exist that align with their existing values while being accessible, practical, viable and attractive.
      .teaser__decoration
        .teaser__wave-top
        .teaser__wave-bottom

    .about-us#about
      h2.about-us__headline What is Climate Mind?
      .about-us__wrapper

        .about-us__content
          .about-us__subline Climate Mind will help make conversations and action easier.
          .about-us__text Climate Mind’s app goal is to implement personalized framing and provide personalized solutions to help communicate how climate change personally affects people you engage with. 
          .about-us__text The app will guide you to frame issues based on the core identity, values and worldviews held by your social circle. 
          .about-us__text The app will share solutions that align with who people are, inspire to take action and connect them with the resources they need to do something to help the climate crisis.

        .about-us__teaser
          img.about-us__icon(src="images/what-is-climateMind.svg")
          .about-us__slogan The biggest thing we want people to do is simply talk about it.
            
    .insights
      h2.insights__headline How will it work?
      .insights__wrapper
        .insights__content
          .insights__subline Climate Mind consists of a web application and a knowledge base.
          .insights__text Our app will communicate to others that climate change is a personally relevant and increasingly alarming issue, with practical and accessible solutions. 
          .insights__text The app will guide users through the process of personalizing climate conversations with others and how best to respond to common climate change myths.

    footer.footer
      .footer__wave
      .footer__content
        .footer__logos
          .footer__climateMind
            img.footer__climateMind-logo(src="images/logos/climateMind-master-logo.svg" alt="Climate Mind")
          .footer__socialMedia
            a.footer__socialMedia-icon(href="https://twitter.com/Climate_Mind" target="_blank")
              img(src="images/icons/socialMedia/twitter.svg" alt="Twitter")
            a.footer__socialMedia-icon(href="https://www.instagram.com/climatemind" target="_blank")
              img(src="images/icons/socialMedia/instagram.svg" alt="Instagram")
            a.footer__socialMedia-icon(href="https://www.facebook.com/climatemindorg" target="_blank")
              img(src="images/icons/socialMedia/facebook.svg" alt="Facebook")
            a.footer__socialMedia-icon(href="https://www.linkedin.com/company/climate-mind" target="_blank")
              img(src="images/icons/socialMedia/linkedin.svg" alt="LinkedIn")
            a.footer__socialMedia-icon(href="https://www.youtube.com/channel/UCcU5SdPGMUj5FuwmKEjLu2Q" target="_blank")
              img(src="images/icons/socialMedia/youtube.svg" alt="YouTube")
        .footer__resources
          h3.footer__caption Useful links
          ul.footer__links
            li.footer__link-item
              a(href="https://scientistsspeakup.org/" target="_blank").footer__link Scientists Speak Up
            li.footer__link-item
              a(href="https://docs.google.com/document/d/16Ot_5WPNOLUIrLkmusbMVnN827OEJKigrT2B8HP--Jk/edit" target="_blank").footer__link Ontology
            li.footer__link-item
              a(href="https://drive.google.com/drive/folders/1LEvOzTCkPYS42OHfM_ogJAo9aBhjzQCr?usp=sharing" target="_blank").footer__link Resources
            //li.footer__link-item
              a(href="" target="_blank").footer__link Media Library
        .footer__contact
          h3.footer__caption Contact
          a(href="mailto:hello@climatemind.org" target="_blank").footer__link hello@climatemind.org
          .footer__credit 
            p Made globally for the world.
            p Open source on 
              a.footer__link.footer__link--credit(href="https://github.com/climatemind" target="_blank") GitHub
              | .

    script(type='text/javascript', src='app.js')
